# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
xcuserdata/
*.moved-aside

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods / Carthage (if you add them later)
Pods/
Carthage/Build/
